body
{
    background-color: #0484D1;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0px;
    padding: 0px;
    align-items: center;
    text-align: center;
}
html .HomePage
{
    background-position: 50%;
    background-image: url("Images/HomeBG.png");
    background-size: cover;
    background-position: initial;
}
header
{
    background: #32b0ff;
    color: yellow;
    padding: 10px;
    display: block;
}
header .Logo
{
    background-color: red;
    background-image: url("Images/Logo.png");
    border-radius: 10px;
    display: inline-flex;
    width: 300px;
    height: 55px;
    text-indent: -99999999999px;
    margin-bottom: 10px;
}
header .CurPage
{
    background-color: #7ccdff;
    margin: 0px;
    padding: 10px;
    border-radius: 7px;
}
section
{
    background-color: #32b0ff;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: row;
}
div
{
    display: flexbox;
    margin: auto;
    border-radius: 10px;
}
ul
{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
.Links
{
    display: inline-flex;
}
ul .Vertical
{
    display: block;
}
li
{
    display: inline-flex;
    margin: 10px;
}
a
{
    color: yellow;
    text-decoration-line: none;
}
a:hover
{
    color: rgb(226, 226, 75);
}
a:active
{
    color: rgb(138, 138, 1);
}
h3
{
    background:#32b0ff;
    padding: 0;
    margin: 0;
}
h2
{
    background-position-x: center;
    color: white;
}
h1
{
    color: yellow;
}
button
{
    font-weight: bold;
    border-radius: 5px;
    border-style: solid;
    border-color: rgb(138, 138, 1);
    background: rgb(214, 214, 0);
    color: white;
    width: 100px;
    height: 30px;
    margin:5px;
}
button:hover
{
    background: rgb(226, 226, 75);
}
button:active
{
    background-color: rgb(138, 138, 1);
    border-color: rgb(214, 214, 0);
}
.Project
{
    text-align: left;
    max-width: 300px;
    word-wrap: normal;
}
label
{
    word-wrap: normal;
    max-width: 225px;
    color: rgba(0, 0, 0, 0.5);
}
.GameName
{
    margin-top: 1px;
    margin-bottom: 2px;
    color: yellow;
}
.DownloadSegment
{
    margin-top: 25px;
    margin-bottom: 20px;
}
.ProjectsFeed
{
    max-width: 1025px;
}
.AboutSegment
{
    max-width: 650px;
    text-align: left;
}
img
{
    border-radius: 10px;
    display: inline-block;
    object-fit: cover;
}
p
{
    color: white;
}